@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');


body{
	height: 100vh;
	background-color:aqua;
	font-family: 'Ranchers', cursive;
	background-image: url("");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

header{
	text-align: center;
	margin-bottom: 4rem;
}



.input{
	text-align: center;
	margin: 100px auto;
  }
  
  input[type="submit"]{
	padding: 15px 30px;
	background: #e7e7e7;
	border: none;
	border-radius: 1px;
	font-family: "Nunito",sans-serif;
	font-weight:bold;
	font-size: 20px;
  }
  
  .input input[type="text"]{
	width: 600px;
	height: 55px;
	padding: 5px 10px;
	background: #e7e7e7;
	border: none;
	border-radius: 1px;
	font-family: "Nunito",sans-serif;
	font-weight:bold;
	font-size: 20px;
  }
  
  .card{
	width: 50%;
	background: #e7e7e7;
	height: 40vh;
	margin: 50px auto;
	border-radius: 2px;
	color:rgb(7, 7, 7);
	text-shadow: 10px solid #1111;
	text-emphasis-color: #111;
  }
  
  
  .close{
	float: right;
	margin-top: -2px;
	cursor: pointer;
	margin-right: 20px;
  }
  
  .card h1{
	padding: 5px 0;
	text-align: center;
  }
  
  .card p{
	text-align: center;
	margin:40px ;
	font-size:20px;
	/*background-color: rgba(100,100,100,0.5);*/
	border-radius: 2px;
  }